/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {text-decoration: none;}

ul, ol, li {list-style: none;}

img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-weight: inherit; font-size: inherit;}

html, body {
  height: 100%;
  color: #252b42;
  font-weight: 500;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  letter-spacing: 0.2px;
  background: #fafafa;
}

/* /Reset */

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  box-sizing: content-box;
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 104px;
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  color: inherit;
  font-weight: 700;
  font-size: 24px;
}

.header__menu {
  margin: 0 0 0 133px;
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 50px;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}

.menu {
  padding: 5px 0;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__link {
  position: relative;
  display: inline-block;
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(24 / 14 * 100%);
}

.menu__link::after {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #737373;
  opacity: 0;
  transition: opacity 0.1s linear;
  content: "";
}

.menu__link:hover::after {
  opacity: 1;
}

@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

/* Page */
.page {
  flex: 1 1 auto;
}

.page__main-block {
}

.page__services {
  position: relative;
  z-index: 2;
  margin: -111px 0 0 0;
}

.page__adventages {
}

.page__practice {
}

.page__whoweare {
}

.page__clients:not(:last-child) {
  margin: 0 0 10px 0;
}

.page__subscribe {
}

.page__getintouch {
}

.page__contact {
}

/* Header */
.header-block {
  text-align: center;
}

.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
}

.header-block__title :not(:last-child) {
  margin: 0 0 10px 0;
}

.header-block__sub-title {
  color: #737373;
  line-height: 142%;
}

@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .header-block__title {
    font-size: 30px;
  }
}

/* Main-block */

.main-block {
  position: relative;
}

.main-block__container {
}

.main-block__body {
  position: relative;
  z-index: 2;
  max-width: 400px;
  padding: 184px 0 191px 0;
}

@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0 160px 0;
  }
}

.main-block__body > *:not(:last-child) {
  margin: 0 0 35px 0;
}

.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
}

@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  color: #737373;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

@media (max-width: 479px) {
  .main-block__text {
    color: #4d4d4d;
  }
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  margin: 10px 0;
  padding: 5px 36px;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  border-radius: 36px;
}

@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}

@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}

.main-block__button_orange {
  color: #fff;
  background: #ff7b47;
  transition: background 0.1s linear;
}

.main-block__button_orange:hover {
  background: #ff5b1a;
}

.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
  transition: background 0.1s linear;
}

.main-block__button_border:hover {
  color: #fff;
  background: #0d5c63;
}

.main-block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

/* Services */
.services {
}

.services__container {
}

.services__body {
}

@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}

.services__column {
  flex: 0 1 33.33333%;
}

@media (min-width: 670px) {
  .services__column {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }

  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .services__column:last-child {
    flex: 1 1 100%;
  }
}

.services__item {
  height: 100%;
  padding: 35px;
  background-color: #fff;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  transition: background 0.1s linear;
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}

.item-service {
}

.item-service_green {
  background-color: #0d5c63;
}

.item-service_green .item-service__title {
  color: #fff;
}

.item-service_green .item-service__text {
  color: #fff;
}

.item-service > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.item-service__icon {
}

.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service__text {
  color: #737373;
  line-height: 142%;
}


/* Adventages */
.adventages {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .adventages {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .adventages {
    padding: 30px 0;
  }
}

.adventages__container {
}

.adventages__header {
  margin: 0 0 50px 0;
}

@media (max-width: 768px) {
  .adventages__header {
    margin: 0 0 30px 0;
  }
}

.adventages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}

.adventages__column {
  flex: 0 1 25%;
  margin: 0 0 30px 0;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .adventages__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 480px) {
  .adventages__column {
    flex: 0 1 100%;
  }
}

.adventages__item {
  padding: 30px;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
}

.adventages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}

.adventages__icon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 48px;
}

.adventages__value {
  font-size: 40px;
  line-height: 142%;
}

.adventages__text {
  color: #737373;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

/* Practice */

.practice {
  padding: 125px 0 80px 0;
}

@media (max-width: 992px) {
  .practice {
    padding: 40px 0 80px 0;
  }
}

@media (max-width: 768px) {
  .practice {
    padding: 0 0 40px 0;
  }
}

.practice__container {
}

.practice__header {
  margin: 0 0 45px 0;
}

@media (max-width: 768px) {
  .practice__header {
    padding: 0 0 25px 0;
  }
}

.practice__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px -30px;
}

.practice__column {
  flex: 0 1 25%;
  margin: 0 0 30px 0;
  padding: 0 20px;
}

@media (max-width: 992px) {
  .practice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 480px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.practice__item {
  overflow: hidden;
}

.item-practice {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}

.item-practice__content {
  flex: 1 1 auto;
  padding: 30px;
}

.item-practice__link {
  display: inline-block;
  color: inherit;
}

.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__link:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-practice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-practice__text {
  color: #737373;
  line-height: 142%;
}

.item-practice__image {
  display: block;
  width: 230px;
  height: 138px;
  padding: 0 0 60% 0;
  transition: all 2s ease-out;
}

.item-practice__image:hover {
  transform: scale(1.2);
}

/* Whoweare */

.whoweare {
  padding: 80px 0 130px 0;
  background: #fff;
}

.whoweare__container {
}

.whoweare__header {
  margin: 0 0 100px 0;
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}

.whoweare__video {
  position: relative;
  flex: 0 0 57%;
  padding: 0 0 42.25% 0;
}

.whoweare__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}

.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
}

.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.whoweare__text {
  color: #737373;
  line-height: 142%;
}

.whoweare__top:not(:last-child) {
  margin: 0 0 50px 0;
}

.whoweare__items {

}

.whoweare__item {

}

.whoweare__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-whoweare__text {
  width: 225px;
  overflow: hidden;
  color: #737373;
  font-weight: 600;
  line-height: 171%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 992px) {
  .whoweare__content {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 768px) {
  .whoweare {
    padding: 50px 0 50px 0;
  }

  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .whoweare__title {
    font-size: 30px;
  }

  .whoweare__content {
    padding: 0 0 0 0;
  }

  .whoweare__video {
    padding: 0 0 56.25% 0;
  }

  .whoweare__video:not(:last-child) {
    margin: 50px 0 0 0;
  }

  .whoweare__header {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 480px) {
  .whoweare {
    padding: 20px 0 50px 0;
  }

  .whoweare__top:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .whoweare__video:not(:last-child) {
    margin: 30px 0 0 0;
  }
}

/* Clients */
.clients {
  padding: 50px 0;
}

@media (max-width: 768px) {
  .clients {
    padding: 30px 0;
  }
}

.clients__container {
}

.clients__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__item {
  flex: 0 1 16.66666%;
  min-width: 130px;
  padding: 10px 15px;
  text-align: center;
}

.clients__item img {
  max-width: 100%;
}

/* Subscribe */
.subscribe {
  position: relative;
  padding: 0 0 20px 0;
}

.subscribe::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #252b42;
  content: "";
}

.subscribe__container {
}

.subscribe__body {
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: #17213c;
  border-radius: 2px;
}

@media (min-width: 992px) {
  .subscribe__body {
    margin: 0 30px;
  }
}

@media (min-width: 768px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}

.subscribe__title {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}

@media (max-width: 768px) {
  .subscribe__title {
    margin: 0 0 20px 0;
  }

  .subscribe__body {
    margin: 0 -15px;
    padding: 20px 30px;
  }
}

@media (min-width: 768px) {
  .subscribe__title {
    max-width: 266px;
  }
}

.subscribe__form {
  display: flex;
  flex: 0 1 50%;
  align-items: center;
}

.subscribe__input {
  flex: 1 1 auto;
  width: 100%;
  min-height: 58px;
  padding: 0 20px;
  color: #737373;
  background-color: #f9f9f9;
  border-right: 0;
  border-radius: 5px 0 0 5px;
}

.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 58px;
  padding: 0 23px;
  color: #fff;
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background 0.1s linear;
}

.subscribe__button:hover {
  background: #ff5b1a;
}

@media (max-width: 480px) {
  .subscribe__button {
    padding: 0 15px;
  }

  .subscribe__input {
    padding: 0 10px;
  }
}

/* Getintouch */
.getintouch {
  padding: 80px 0 135px 0;
}

.getintouch__container {
}

.getintouch__header {
  margin: 0 0 80px 0;
}

.getintouch__items {
  margin: 0 -15px;
}

.getintouch__item {
  flex: 0 1 33.33333%;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #fff;
}

.item-getintouch > *:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-getintouch_active {
  padding: 80px 15px;
  color: #fff;
  background: #252b42;
}

.item-getintouch_active .item-getintouch__button {
  color: #fff;
  border: 1px solid #fff;
}

.item-getintouch__icon {
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 171%;
}

.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-getintouch__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  padding: 5px 20px;
  color: #ff7b47;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.item-getintouch__button:hover {
  color: #fff;
  background-color: #ff7b47;
  border: 1px solid #ff7b47;
}

@media (min-width: 992px) {
  .getintouch__items {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

@media (max-width: 992px) {
  .getintouch {
    padding: 50px 0;
  }

  .getintouch__header {
    margin: 0 0 50px 0;
  }

  .item-getintouch_active {
    padding: 50px 15px;
  }
}

@media (max-width: 768px) {
  .getintouch__header {
    margin: 0 0 30px 0;
  }
}

/* Contact */
.contact {
  padding: 42px 0;
  background-color: #fff;
}

.contact__container {
}

.contact__content {
  padding: 0 0 20px 0;
}

@media (min-width: 768px) {
  .contact__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact__content {
    padding: 0 20px 0 0;
  }
}

.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
}

.contact__title:not(:last-child) {
  padding: 0 0 10px 0;
}

.contact__text {
  color: #737373;
  line-height: 142%;
}

.contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 58px;
  padding: 5px 40px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background: #ff7b47;
  border-radius: 5px;
  transition: background-color 0.3s ease 0s;
}

.contact__button:hover {
  background-color: #ff5b1a;
}

/* Footer */
.footer {
}

.footer__top {
  padding: 35px 0;
  background: #17213c;
}

.footer__main {

}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.footer__column {
  flex: 0 1 16.66666%;
  padding: 15px 15px;
}

.footer__column:last-child {
  flex: 0 1 33.33333%;
}

@media (max-width: 992px) {
  .footer__column {
    flex: 0 1 25%;
  }

  .footer__column:last-child {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .footer__column {
    flex: 0 1 50%;
  }
}

.footer__label {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.footer__menu {
}

.menu-footer {
}

.menu-footer__list {
}

.menu-footer__item {
}

.menu-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.menu-footer__link {
  color: #fff;
  font-weight: 600;
  line-height: 171%;
}

.menu-footer__link:hover {
  text-decoration: underline;
}

.footer__contacts {
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.contacts-footer__item {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding: 0 0 0 34px;
  color: #fff;
  font-weight: 600;
  line-height: 171%;
}

.contacts-footer__item:hover {
  text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.contacts-footer__item_phone {
  background: url(../img/footer/icon/icon_1.svg) left no-repeat;
}

.contacts-footer__item_map {
  background: url(../img/footer/icon/icon_2.svg) left no-repeat;
}

.contacts-footer__item_email {
  background: url(../img/footer/icon/icon_3.svg) left no-repeat;
}

.footer__bottom {
  padding: 25px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copy {
  color: #737373;
  font-weight: 600;
  line-height: 171%;
}

.footer__social {
}

.social {
  display: flex;
  align-items: center;
}

.social__item:not(:last-child) {
  margin: 0 20px 0 0;
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__copy {
    margin: 0 0 15px 0;
    text-align: center;
  }
}
